---
name: Check pull requests
on: pull_request

jobs:
  build-pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [
          { 'version': '11', 'opts': '' },
          { 'version': '17', 'opts': '' }
        ]
    name: Build with Java ${{ matrix.java.version }} (OpenJDK)
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        name: Set up JDK ${{matrix.java.version}}
        with:
          distribution: temurin
          java-version: ${{matrix.java.version}}
          cache: maven
      - name: Build with Maven
        env:
          MAVEN_OPTS: ${{ matrix.java.opts }}
        run: mvn -s .github/maven-ci-settings.xml -B clean verify

  compatibility:
    runs-on: ubuntu-latest
    name: Compatibility Check
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        name: Set up JDK 11
        with:
          distribution: temurin
          java-version: 11
          cache: maven
      - name: Compatibility Check
        run: mvn -s .github/maven-ci-settings.xml -B install revapi:check@check-compatibility -DskipTests -fae
